{% extends "layout.html" %}

{% block title %}
    Book
{% endblock %}

{% block body %}
    <h1>Book Details</h1>

    <ul>
        <li>ISBN: {{ book.isbn }}</li>
        <li>Title: {{ book.title }}</li>
        <li>Author: {{ book.author }}</li>
        <li>Year: {{ book.year }}</li>
    </ul>

    <h3>
    Goodreads
    <span class="material-icons">
        rate_review
    </span>
    </h3>

    <p>
      Average rating: {{ average_rating }}
    </p>

    <p>
      Number of ratings: {{ number_of_ratings }}
    </p>

    <p>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          Leave a review
        </button>
    </p>
    <div class="collapse" id="collapseExample">
      <div class="card card-body">
          <form action="{{url_for('review', book_id=book.id) }}" method="post">
              <div class="form-group">
                  <label for="form_review_rating">Review rating</label>
                  <select name="form_review_rating" class="form-control" id="form_review_rating">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                  </select>
              </div>
              <div class="form-group">
                  <label for="form_review_text">Review text</label>
                  <textarea name="form_review_text" class="form-control" id="form_review_text" rows="3"></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
          </form>
      </div>
    </div>

    <h2>Reviews</h2>
    <ul>
        {% for review in reviews %}
            <h4>{{ review.user.name }}</h4>
            {% for item in range(review.review_rating) %}
                <span class="material-icons" style="color:magenta">
                    star
                </span>
            {% endfor %}
            <p>{{ review.review_text }}</p>
        {% else %}
            <p>No reviews.</p>
        {% endfor %}
    </ul>

{% endblock %}
